<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CountDown</title>
    <link rel="stylesheet" href="http://static.tianxia.taobao.com/tbtx/base/css/reset.css">
</head>
<body>
    <div id="demo">
        <span data-role="day"></span>天
        <span data-role="hour"></span>小时
        <span data-role="minute"></span>分
        <span data-role="second"></span>秒
    </div>

    <script src="../../tbtx.js"></script>
    <script>
    tbtx.ready(function(S) {
        S.require("countDown", function() {
            var instance = new S.CountDown({
                element: "#demo",
                target: S.Now() + 100000000,
                now: S.Now()
            }).render();

            window.instance = instance;
        });
    });

    </script>
</body>
</html>