<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>draggable</title>
    <link rel="stylesheet" href="http://a.tbcdn.cn/apps/tbtx/base/css/reset.css">
    <style>
    .demo {
        width: 100px;
        padding: 200px;
        background: #39c;
    }
    </style>
</head>
<body>
    <!-- data-draggable -->
    <div class="demo">
        draggable
    </div>

    <div class="demo">
        draggable
    </div>
    <script src="../../jquery/jquery-1.8.3.min.js"></script>
    <script src="../../tbtx.js"></script>
    <script src="../../component/draggable.js"></script>
    <script>
    tbtx.draggable(".demo");
    $("#demo").on("drag.start", function() {
        console.log("drag start");
    }).on("drag.end", function() {
        console.log("drag end");
    });

    </script>
</body>
</html>