<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drop</title>
    <style>
    * {
        margin: 0;
        padding: 0;
    }
    img {
        border: none;
    }
    body {
        background: #39c;
        padding-top: 20px;
        position: relative;
    }
    .tbtx-drop {
        background: #FFF;
    }

    #demo {
        display: none;
    }

    #trigger {
        margin: 40px auto;
        width: 500px;
    }
    </style>
</head>
<body>
    <div id="trigger">
        demo
        <div id="demo">
            <select name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </div>
    </div>

    <script src="../../jquery/jquery-1.8.3.min.js"></script>
    <script src="../../tbtx.js"></script>
    <script>
    tbtx.require("drop").done(function() {
        new tbtx.Drop({
            trigger: "#trigger",
            element: "#demo",
            width: 500,
            height: 100,
            effect: "slide"
        });
    });
    </script>
</body>
</html>