<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	* {
		margin: 0;
		padding: 0;
	}
	img {
		border: none;
	}
	body {
		background: #39c;
	}
	#demo {
		width: 300px;
		height: 300px;
		background: #900;
	}
	</style>
</head>
<body>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<div id="demo"></div>

	<script src="../../jquery/jquery-1.8.3.min.js"></script>
	<script src="../../tbtx.js"></script>
	<script src="../../component/overlay.js"></script>
	<script>
	var o = new tbtx.Overlay({

	}).show();

	tbtx.log(o);
	// o.on("abc", function() {
	// 	console.log('event');
	// });
	// o.trigger("abc");
	// o.show();

	// $('body').on('tbtx.overlay.show', function() {
	// 	console.log('show');
	// });
	// $('body').on('tbtx.overlay.hide', function() {
	// 	console.log('hide');
	// });
	</script>
</body>
</html>