<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://static.tianxia.taobao.com/tbtx/base/css/reset.css">
    <style>
    body {
        height: 2000px;
        color: #F00;
    }
    </style>
    <script src="../../tbtx.js"></script>
</head>
<div>
    <span data-popup-role="close">124</span>
</div>
<body>
    <script>
    tbtx.require("popup", function(Popup) {
        instance1 = new Popup({
            // template: "<div>124124</div>",
            element: "div"
        }).show();

        instance1.on("tbtx.popup.cancel", function() {
            this.hide();
        });

        instance2 = new Popup({
            template: "<div>456456</div>",
            destroyOnHide: true
            // element: "div"
        }).show();

        instance2.on("tbtx.popup.cancel", function() {
            this.hide();
        });
    });
    </script>
</body>
</html>
