<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	* {
		margin: 0;
		padding: 0;
	}
	img {
		border: none;
	}
	body {
		background: #39c;
	}

	#pop {
		background: #FFF;
		padding: 20px;
		/*z-index: 250;*/
	}
	</style>
</head>
<body>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	<p> a lot of contents </p>
	
	<div id="pop">
		asfasfasfasfasf
	</div>
	<script src="../../jquery/jquery-1.8.3.min.js"></script>
	<script src="../../tbtx.js"></script>
	<script src="../../component/overlay.popup.js"></script>
	<script>
	// var p = $('#pop').Popup({
	// 	top: 50
	// });
	
	var p = new tbtx.Popup('#pop', {
	});
	p.show('fadeIn');

	$('#pop').on('tbtx.popup.show', function() {
		console.log('tbtx.popup.show');
	}).on('tbtx.popup.hide', function() {
		console.log('tbtx.popup.hide');
	});
	</script>
</body>
</html>