<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>scrollspy</title>
    <link rel="stylesheet" href="http://a.tbcdn.cn/apps/tbtx/miiee/css/order/base.css">
    <style>
        #scrollspy-nav {
            position: fixed;
            top: 20px;
            left: 20px;
        }
        #scrollspy-nav .active a{
            color: #F00;
        }

        .scrollspyer {
            height: 400px;
            margin: 20px;
            background: #EEE;
        }
    </style>
</head>

<body data-spy="scroll" data-target="#scrollspy-nav">
    <div id="scrollspy-nav" >
        <ul class="nav">
            <li><a href="#scrollspy-1">scrollspy-1</a></li>
            <li><a href="#scrollspy-2">scrollspy-2</a></li>
            <li><a href="#scrollspy-3">scrollspy-3</a></li>
            <li><a href="#scrollspy-4">scrollspy-4</a></li>
            <li><a href="#scrollspy-5">scrollspy-5</a></li>
        </ul>
    </div>
    <div id="scrollspy-container" >
    
        <div id="scrollspy-1" class="scrollspyer">1</div>
        <div id="scrollspy-2" class="scrollspyer">2</div>
        <div id="scrollspy-3" class="scrollspyer">3</div>
        <div id="scrollspy-4" class="scrollspyer">4</div>
        <div id="scrollspy-5" class="scrollspyer">5</div>
    </div>
    <script src="../../jquery/jquery-1.8.3.min.js"></script>
    <script src="../../tbtx.js"></script>
    <script src="../../component/scrollspy.js"></script>

    <script>
    $('#scrollspy-nav').on('activate.bs.scrollspy', function () {
      console.log('update');
    })

    </script>
</body>

</html>
