<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>slide</title>
    <link rel="stylesheet" href="http://a.tbcdn.cn/apps/tbtx/miiee/css/order/base.css">
    <style>
    .slide-wrapper {
        position: relative;
    }
    .slide {
        overflow: hidden;
    }
    .slide-inner {

    }
    .slide-item {
        float: left;
    }

    </style>
    
    <style>
    .slide-wrapper {
        background: #EEE;
        margin: 20px;
    }

    .slide-item, .slide {
        width: 320px;
        height: 204px;
    }

    #mySlide2 .slide-inner{
        width: 320px;
    }
    
    .indicators {
        position: absolute;
        bottom: 20px;
        left: 50%;
    }
    .indicators li {
        float: left;
        padding: 10px;
        background: #FFF;
        margin: 10px;
    }

    #mySlide3 .slide-item {
        float: none;
    }

    #mySlide4 .slide {
        width: 640px;
    }
    </style>
</head>

<body>

    <div id="mySlide" data-ride="slide" data-interval="1000" class="slide-wrapper">
        <!-- Indicators -->
        <ol class="indicators">
            <li data-target="#mySlide" data-slide-to="0">1</li>
            <li data-target="#mySlide" data-slide-to="1">2</li>
            <li data-target="#mySlide" data-slide-to="2">3</li>
        </ol>
        <div class="slide">
            <div class="slide-inner">
                <div class="slide-item active">
                    <a href="http://miiee.taobao.com">
                        <img src="http://img01.taobaocdn.com/tps/i1/T15bl7FldbXXcA55co-320-146.jpg">
                    </a>
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img02.taobaocdn.com/tps/i2/T1FlB7FhlXXXcA55co-320-146.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img03.taobaocdn.com/tps/i3/T1RJR7FkpcXXcA55co-320-146.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <a href="#mySlide" data-slide="prev">
            prev
        </a>
        <a href="#mySlide" data-slide="next">
            next
        </a>

        <a href="#mySlide" data-slide="pause">
        pause
        </a>
        <a href="#mySlide" data-slide="cycle">
            cycle
        </a>
    </div>
    
    <div id="mySlide2" data-ride="slide" data-interval="3000" data-direction='x' data-is-carousel="false" class="slide-wrapper">
        <!-- Indicators -->
        <ol class="indicators">
            <li data-target="#mySlide2" data-slide-to="0">1</li>
            <li data-target="#mySlide2" data-slide-to="1">2</li>
            <li data-target="#mySlide2" data-slide-to="2">3</li>
        </ol>
        <div class="slide">
            <div class="slide-inner">
                <div class="slide-item active">
                    <a href="http://miiee.taobao.com">
                        <img src="http://img01.taobaocdn.com/tps/i1/T15bl7FldbXXcA55co-320-146.jpg">
                    </a>
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img02.taobaocdn.com/tps/i2/T1FlB7FhlXXXcA55co-320-146.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img03.taobaocdn.com/tps/i3/T1RJR7FkpcXXcA55co-320-146.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <a href="#mySlide2" data-slide="prev">
            prev
        </a>
        <a href="#mySlide2" data-slide="next">
            next
        </a>

        <a href="#mySlide2" data-slide="pause">
        pause
        </a>
        <a href="#mySlide2" data-slide="cycle">
            cycle
        </a>
    </div>
    
    <div id="mySlide4" data-ride="slide" data-interval="3000" data-item-size="320" data-view-size="2" class="slide-wrapper">
        <!-- Indicators -->
        <ol class="indicators">
            <li data-target="#mySlide4" data-slide-to="0">1</li>
            <li data-target="#mySlide4" data-slide-to="1">2</li>
            <li data-target="#mySlide4" data-slide-to="2">3</li>
        </ol>
        <div class="slide">
            <div class="slide-inner">
                <div class="slide-item active">
                    <a href="http://miiee.taobao.com">
                        <img src="http://img01.taobaocdn.com/tps/i1/T15bl7FldbXXcA55co-320-146.jpg">
                    </a>
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img02.taobaocdn.com/tps/i2/T1FlB7FhlXXXcA55co-320-146.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img03.taobaocdn.com/tps/i3/T1RJR7FkpcXXcA55co-320-146.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <a href="#mySlide4" data-slide="prev">
            prev
        </a>
        <a href="#mySlide4" data-slide="next">
            next
        </a>

        <a href="#mySlide4" data-slide="pause">
        pause
        </a>
        <a href="#mySlide4" data-slide="cycle">
            cycle
        </a>
    </div>

     <div id="mySlide3" data-ride="slide" data-interval="3000" data-direction="y" class="slide-wrapper">
        <!-- Indicators -->
        
        <div class="slide">
            <div class="slide-inner">
                <div class="slide-item active">
                    <a href="http://miiee.taobao.com">
                        <img src="http://img01.taobaocdn.com/tps/i1/T15bl7FldbXXcA55co-320-146.jpg">
                    </a>
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img02.taobaocdn.com/tps/i2/T1FlB7FhlXXXcA55co-320-146.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="http://img03.taobaocdn.com/tps/i3/T1RJR7FkpcXXcA55co-320-146.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
        <ol class="indicators">
            <li data-target="#mySlide3" data-slide-to="0">1</li>
            <li data-target="#mySlide3" data-slide-to="1">2</li>
            <li data-target="#mySlide3" data-slide-to="2">3</li>
        </ol>
        <a href="#mySlide3" data-slide="prev">
            prev
        </a>
        <a href="#mySlide3" data-slide="next">
            next
        </a>

        <a href="#mySlide3" data-slide="pause">
        pause
        </a>
        <a href="#mySlide3" data-slide="cycle">
            cycle
        </a>
    </div>
    <script src="../../jquery/jquery-1.8.3.min.js"></script>
    <script src="../../tbtx.js"></script>
    <script src="../../component/slide.js"></script>

    <script>
    // $('.carousel').carousel({
    //     interval: 1000
    // });

    $('#mySlide').on('slide.bs.carousel', function(event, params) {
        // do something…
        // 
        // console.log('carousel start');
    });

    $('#mySlide').on('slid.bs.carousel', function() {
        // do something…
        // console.log('carousel finish');
    });

    // setInterval(function() {
    //     console.log($('#myCarousel').data('bs.carousel').paused);
    // }, 200)
    </script>
</body>

</html>
