<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNS</title>
    <link rel="stylesheet" href="http://a.tbcdn.cn/apps/tbtx/base/css/reset.css">
</head>
<body>
    <div id="demo">
        <a href="javascript:;" data-target="sina">weibo</a>
        <a href="javascript:;" data-target="qzone">qzone</a>
        <a href="javascript:;" data-target="douban">douban</a>
        <a href="javascript:;" data-target="qqweibo">qqweibo</a>
        <a href="javascript:;" data-target="renren">renren</a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
    </div>
    <script src="../../jquery/jquery-1.8.3.min.js"></script>
    <script src="../../tbtx.js"></script>
    <script src="../../component/sns.js"></script>
    <script>
    var s = new tbtx.SNS({
        element: "#demo",
        caption: "title",
        description: "分享内容分享内容分享内容分享内容分享内容分享内容分",
        url: "http://miiee.taobao.com",
        pic: ["http://gtms01.alicdn.com/tps/i1/T10yZVFhddXXaicpgG-193-289.jpg", "http://gtms01.alicdn.com/tps/i1/T1sP.WFhFaXXc6Ky6A-575-420.jpg"],
        snsItem: "a"
    });

    </script>
</body>
</html>