<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>soltMachine</title>
    <link rel="stylesheet" href="http://a.tbcdn.cn/apps/tbtx/base/css/reset.css">
    <style>
    /* 垂直居中 */
    .sl-hvalign {
        display:table;
        overflow:hidden;
        margin:0 auto;
        height: 100%;
        *position:relative;
    }
    .sl-hvalign-cnt {
        display:table-cell;
        vertical-align: middle;
        *position:absolute;
        top:50%;
    }
    .sl-hvalign-cnt-inner {
        *position:relative;
        *top:-50%;
    }
    .solt-item {
        overflow: hidden;
        height: 108px;
        float: left;
        margin: 30px;
        background: #eee;
    }
    .solt-item li {
        width: 139px;
        height: 108px;
        text-align: center;
    }
    </style>
</head>

<body>
    <div class="solt-item" id="solt-item-1">
        <ul>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1H88fFkdhXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1q28wFXFXXXbe7Bc_-131-52.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img03.taobaocdn.com/tps/i3/T1ZBRmFhXfXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>

            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1H88fFkdhXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="solt-item" id="solt-item-2">
        <ul>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1H88fFkdhXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1q28wFXFXXXbe7Bc_-131-52.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img03.taobaocdn.com/tps/i3/T1ZBRmFhXfXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>

            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1H88fFkdhXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="solt-item" id="solt-item-3">
        <ul>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1H88fFkdhXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1q28wFXFXXXbe7Bc_-131-52.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img03.taobaocdn.com/tps/i3/T1ZBRmFhXfXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>

            <li class="sl-hvalign">
                <div class="sl-hvalign-cnt">
                    <div class="sl-hvalign-cnt-inner">
                        <img src="http://img04.taobaocdn.com/tps/i4/T1H88fFkdhXXX_kKM8-121-52.jpg" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <button id="start">开始</button>
    <script src="../../jquery/jquery-1.8.3.min.js"></script>
    <script src="../../tbtx.js"></script>
    <script src="http://a.tbcdn.cn/apps/tbtx/miiee/js/order/TweenMax.min.js"></script>
    <script src="../../component/soltMachine.js"></script>

    <script>
    var SoltMachine = tbtx.SoltMachine;
    var choice = SoltMachine.choice;

    // 奖品个数
    var number = $('#solt-item-1 li').length - 1;
    // console.log(length);
    SoltMachine.extend({
        number: number,
        height: 108         // 为了在下面使用
    });
    SoltMachine.add({
        elem: $('#solt-item-1 ul'),  // 为了在下面使用
        speed: {
            start: 5000,
            fast: 6000
        }
    });
    SoltMachine.add({
        elem: $('#solt-item-2 ul')
    });
    SoltMachine.add({
        elem: $('#solt-item-3 ul'),
        speed: {
            start: 6000,
            fast: 8000
        }
    });

    SoltMachine.include({
        onStart: function(self) {

            var $elem = self.getOption('elem');
            var h = SoltMachine.height;
            var length = SoltMachine.number;

            // 第二次开始抽奖时重置开始位置
            $elem.css({
                marginTop: 0
            });

            self.tween = TweenMax.to($elem, 1, {
                marginTop: -h * length + "px",
                ease: Linear.easeNone,
                onRepeat: function() {
                    $elem.css({
                        marginTop: 0
                    });
                    self.tween.timeScale(self.speed / 1000);
                    // console.log(self.speed);
                    // 需要停下来,为了修正最后的效果，先停止循环，再移动到相应位置
                    // ready时只代表速度不再改变，真正的停止要调用done改变defer状态
                    if (self.status == "ready") {
                        self.tween.kill();
                        console.log(self.doneSpeed);
                        $elem.css({
                            marginTop: 0
                        });
                        // 修正到正确的位置
                        TweenMax.to($elem, 1, {
                            marginTop: -h * self.result + "px",
                            onComplete: function() {
                                self.done();
                            }
                        }).timeScale(self.doneSpeed / 1000);
                    }

                },
                repeat: -1
            });
        }
    });
    
    SoltMachine.done(function() {
        alert('all done');
    });
    $('#start').on('click', function() {
        r = SoltMachine.start([0, 1, 2]);

    });
    </script>
</body>

</html>
