<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://static.tianxia.taobao.com/tbtx/base/css/reset.css">
    <style>
    body {
        height: 2000px;
    }
    
    #slide-demo-1 {
        width: 200px;
        height: 50px;
        overflow: hidden;
        background: #F90;
    }
    .ui-switchable-panel {
        width: 200px;
        height: 50px;
    }
    </style>
    <script src="../../tbtx.js"></script>
</head>

<body>
    <div id="slide-demo-1" class="slide-demo">
        <ul class="ui-switchable-content" data-switchable-role="content">
            <li class="ui-switchable-panel">1</li>
            <li class="ui-switchable-panel">2</li>
            <li class="ui-switchable-panel">3</li>
        </ul>
    </div>
    <script>
    var instance;
    tbtx.require("switchable", function(Switchable) {
        instance = new Switchable.Slide({
            element: "#slide-demo-1",
            effect: "scrollx",
            hasTriggers: false,
            autoplay: true,
            interval: 1000,
            // panels: ".ui-switchable-panel",
            classPrefix: "ui-switchable"
        }).render();
    });
    </script>
</body>
</html>
