<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tip</title>
    <style>
    * {
        margin: 0;
        padding: 0;
    }
    img {
        border: none;
    }
    body {
        padding-top: 20px;
        position: relative;
    }
    #demo {
        margin: 300px;
        width: 300px;
        background: #000;
    }
    </style>
</head>
<body>
    <div id="demo">
        demo
    </div>

    <script src="../../jquery/jquery-1.8.3.min.js"></script>
    <script src="../../tbtx.js"></script>
    <script>
    tbtx.require("tip", function() {
        var a = new tbtx.Tip({
            trigger: "#demo",
            content: '<div style="padding:10px">我是内容 我是内容</div>',
            arrowPosition: 1
        });
        tbtx.log(a);
    });
    </script>
</body>
</html>